.child {
  width: 100px;
  height: 40px;
  line-height: 40px;
  background: linear-gradient(90deg, #14bf8a 0%, #0abc54 100%);
  border: 0px;
  border-radius: 4px;
  color: #ffffff;
  font-size: 14px;
  margin-right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px 0;
}
.no-child {
  cursor: no-drop;
  background: linear-gradient(90deg, #14bf8a 0%, #0abc54 100%);
  border-radius: 4px;
  opacity: 0.4;
}

.content {
  width: 100%;
  display: flex;
  gap: 20px;
}
